.submit-row{
    text-align: center;
    padding-top: 50px;
}

.btn{
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.6s;
    border: none;
    background-color: slategray;
}

.btn:hover{
    background-color: darkslategray;
    color:white;   
}

.border-red{
    border: 1px solid red !important;
}