body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

main{
    min-height: 80vh;
    padding-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

h5 {
    font-weight: 600;
}

a {
    color: black;
    text-decoration: none;
}

.background-gray{
    background-color: lightgray;
}