.navbar{
    display: flex;
    justify-content: center;
}

.navbar>ul{
    display: flex;
    justify-content: space-around;
}
.navbar li{
    font-weight: bolder;
    font-size:x-large;
    list-style-type: none;
}
.options{
    justify-content: space-between;
    position: absolute;
    right: 20px;
    height: 60px;
    text-align: center;
    width: 200px;
    display: flex;
    align-items: center;
}
.options>a{
    margin: auto 20px;
    display: block;
    width: fit-content;
}
